<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
	id="mainNav">
	<a class="navbar-brand" href="/">Incidence Manager</a>
	<button class="navbar-toggler navbar-toggler-right" type="button"
		data-toggle="collapse" data-target="#navbarResponsive"
		aria-controls="navbarResponsive" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
			<li id="chatbot" class="nav-item" data-toggle="tooltip" data-placement="right"
				title="Index"><a class="nav-link" href="/chatbot"> <i
					class="fa fa-fw fa-map"></i> <span class="nav-link-text">Chatbot</span>
			</a></li>
			<li id="seguimiento" class="nav-item" data-toggle="tooltip" data-placement="right"
				title="Seguridad"><a class="nav-link" href="/seguimientoIncidencias"> <i
					class="fa fa-fw fa-key"></i> <span class="nav-link-text">Seguimiento de incidencias</span>
			</a></li>				
			<li class="nav-item" data-toggle="tooltip" data-placement="right"
				title="Logout"><a class="nav-link" href="/logout"> <i
					class="fa fa-fw fa-sign-out"></i> <span class="nav-link-text">Logout</span>
			</a></li>
		</ul>
	</div>
</nav>