<!DOCTYPE html>
<html>
<head th:replace="fragments/head" />
<body>
<div th:replace="fragments/navbar"/>
    <div class="login-clean">
        <form method="post" class="addIncidence">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration">
                <h2>Bienvenido agente <span sec:authorize="isAuthenticated()" th:text="${user}"> ...</span>.</h2>
            </div>
            <p>Panel de control InciManager.</p>
            <p>Acciones disponibles:</p>
            <div class="row">
                <div class="col-md-6">
                    <h3> <a href="/incidences/list"><i class="fa fa-list-ul"></i> Consultar tus incidencias </a></h3>
                </div>
                <div class="col-md-6">
                    <h3> <a href="./index.html"><i class="fa fa-plus-circle"></i> Enviar incidencia</a></h3>
                </div>
            </div>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>