<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head">
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
	<nav th:replace="fragments/nav" />
	<div class="content-wrapper">
		<div class="container-fluid">
			<!-- Breadcrumbs-->
			<div class="container-fluid">
				<ol class="breadcrumb">
					<li class="breadcrumb-item" href="/">Incidence Manager</li>
					<li class="breadcrumb-item active">Incidencia creada</li>
				</ol>
				<h1>Incidencia creada</h1>
				<!-- Icon Cards-->
				<div class="row">
					<div class="col-xl-3 col-sm-6 mb-3">
						<div class="card text-white bg-danger o-hidden h-100">
							<div class="card-body">
								<div class="card-body-icon">
									<i class="fa fa-fw fa-list"></i>
								</div>
								<div class="mr-5">
									<h4>ID asignada</h4>
									<p th:text="${info.id}"></p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-sm-6 mb-3">
						<div class="card text-white bg-warning o-hidden h-100">
							<div class="card-body">
								<div class="card-body-icon">
									<i class="fa fa-fw fa-comments"></i>
								</div>
								<div class="mr-5">
									<h4>Operador</h4>
									<p th:text="${info.operator.operatorname}"></p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-sm-6 mb-3">
						<div class="card text-white btn-sample o-hidden h-100">
							<div class="card-body">
								<div class="card-body-icon">
									<i class="fa fa-fw fa-support"></i>
								</div>
								<div class="mr-5">
									<h4>Nombre incidencia</h4>
									<p th:text="${info.incidencia.inciName}"></p>
									<h4>Descripción incidencia</h4>
									<p th:text="${info.incidencia.inciDescription}"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container-fluid-->
	<!-- /.content-wrapper-->

	<footer th:replace="/fragments/footer"></footer>
	<script src="/assets/vendor/jquery/jquery.min.js"></script>
	<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- Core plugin JavaScript-->
	<script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>
	<!-- Page level plugin JavaScript-->
	<script src="/assets/vendor/datatables/jquery.dataTables.js"></script>
	<script src="/assets/vendor/datatables/dataTables.bootstrap4.js"></script>
	<!-- Custom scripts for all pages-->
	<script src="/assets/js/sb-admin.min.js"></script>
	<!-- Custom scripts for this page-->
	<script src="/assets/js/sb-admin-datatables.min.js"></script>
</body>
</html>
