<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head">
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
	<nav th:replace="fragments/nav"></nav>
	<div class="content-wrapper">
		<div class="container-fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">Incidence Manager</li>
				<li class="breadcrumb-item active">Inicio</li>
			</ol>
			
			<h1>Bienvenido</h1>
			</div>
			<p>Esta es la aplicación Incidence Manager realizada por:</p>
			<ul>
				<li>Pablo Fernández Pérez (UO245015)</li>
				<li><b>Gonzalo Collada Vázquez (UO252066)</b></li>
				<li>Carlos Concheso Cubillas (UO237674)</li>
				<li><b>Paloma Sierra Bonet (UO232919)</b></li>
				<li>Pelayo Garcia Menendez (UO251765)</li>				
			</ul>
		</div>
	</div>

	<footer th:replace="/fragments/footer"></footer>
	<script src="/assets/vendor/jquery/jquery.min.js"></script>
	<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- Core plugin JavaScript-->
	<script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>
	<!-- Custom scripts for all pages-->
	<script src="/assets/js/sb-admin.min.js"></script>
</body>
</html>