<!DOCTYPE HTML>
<html>
<head>
 	<meta charset="UTF-8"/>
 	<title>Login</title>
</head>
<body>
<h1>Acceso</h1>
<form method="POST" action="login" >
	<table>
		<tr>
			<td><label for="login"><strong>Login:</strong> </label></td>
			<td><input type="text" id="login" name="login"/></td>
		</tr>
		<tr>
			<td><label for="password"><strong>Password:</strong> </label></td>
			<td><input type="password" id="password" name="password" /></td>
		</tr>
		<tr>
			<td><button type="submit" id="login">Entrar</button></td>
		</tr>
	</table>
	<footer th:replace="fragments/footer"/>
</form>



</body>
</html>