<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
 	<meta charset="UTF-8"/>
 	<title>Cambiar contraseña</title>
</head>
<body>
<h1>Registrar Agente</h1>
<form method="POST" action="comprobarAgente" >
	<table>
		<tr>
			<td><strong><label for="nombre">Nombre: </label></strong></td>
			<td><input type="text" name="nombre" /></td>
		</tr>
		<tr>
			<td><strong><label for="email">Email: </label></strong></td>
			<td><input type="text" name="email" /></td>
		</tr>
		<tr>
			<td><strong><label for="localizacion">Localizacion: </label></strong></td>
			<td><input type="text" name="localizacion" /></td>
		</tr>
		<tr>
			<td><strong><label for="kind">Tipo: </label></strong></td>
			<td><input type="text" name="tipo" /></td>
		</tr>
		<tr>
			<td><strong><label for="password">Contraseña: </label></strong></td>
			<td><input type="password" name="email" /></td>
		</tr>
	</table>
	<form method="POST" action="anadirAgent" >
		<input type="submit" name="anadirAgent" value="Añadir"/>
	</form>
</form>
</body>
</html>